<!DOCTYPE html>
<html>
<head>
	<title>Mathine Learning</title>
<style>
    .headerTitle{
    font-size:xx-large;
    color: #0000007c;
    font-family: sans-serif;
    position: relative;
    margin: auto;
    text-align: center;
    padding-bottom: 1%;
    }

    #desc{
    font-size:large;
    }

    .styled-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

.styled-table th,
.styled-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.styled-table th {
  background-color: #f2f2f2;
}


   

</style>    
</head>

<body>

	<h1 class="headerTitle">What's It</h1>
	<p class="headerTitle" id="desc">This is your selected Image</p>
    <p>Name: {{results.name}}</p>
    <p>Name: {{results.design}}</p>
    <p>Name: {{results.operating_system}}</p>
    <p>Name: {{results.display}}</p>
    <p>Name: {{results.performance}}</p>
    <p>Name: {{results.camera}}</p>
    <p>Name: {{results.security}}</p>
    <p>Name: {{results.price}}</p>
   
   
</body>
</html>

<script>


</script>